
.darkTheme{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    display:inline-block;
    transition: 0.6s;
}


.ligthBtn{
    background-color: black;
    color:rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 1px 1px 5px orange;
}

.darkBtn{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 1px 1px 5px orange;
}