.qrCodeContenair{
    display: flex;
    flex-direction: column;
    width: 200px;  
    justify-content: center;
    margin-left: 650px;
   
}
.qrInput{
    display: flex;
    width: 200px;
    margin-bottom: 10px;
}